#### Exploring

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('immigration_data_sample.csv', index_col=0)

In [3]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [4]:
df['visapost'].head()

2027561    NaN
2171295    MTR
589494     NaN
2631158    DOH
3032257    NaN
Name: visapost, dtype: object

In [5]:
def sas_to_py_datetime(dt):
    return pd.to_timedelta(dt, unit='D') + pd.Timestamp('1960-1-1')

In [6]:
df['arrdate'] = df['arrdate'].apply(sas_to_py_datetime)

In [7]:
df['depdate'] = df['depdate'].apply(sas_to_py_datetime)

In [8]:
series_null_columns = df.isnull().sum(axis=0).sort_values(ascending=False)

In [9]:
series_null_columns = series_null_columns[series_null_columns > 0]

In [10]:
series_null_columns

entdepu     1000
occup        996
insnum       965
visapost     618
gender       141
i94addr       59
depdate       49
matflag       46
entdepd       46
airline       33
fltno          8
dtype: int64

In [11]:
df[~pd.isnull(df['occup'])]['occup']

262355     STU
1429118    PHA
1677722    OTH
2857353    STU
Name: occup, dtype: object

In [12]:
len(df['cicid'].unique())

1000

In [13]:
df['i94port'].head()

2027561    HHW
2171295    MCA
589494     OGG
2631158    LOS
3032257    CHM
Name: i94port, dtype: object

In [14]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [15]:
np.sum(df['admnum'].isnull())

0

In [16]:
a = str(df.iloc[0]['dtadfile'])
datetime.strptime(a, '%Y%m%d')

datetime.datetime(2016, 4, 22, 0, 0)

In [17]:
def convert_int_date_to_pd(dt):
    return pd.to_datetime(str(dt), format='%Y%m%d')

In [18]:
df['dtadfile'] = df['dtadfile'].apply(convert_int_date_to_pd)

In [19]:
df['entdepa'].unique()

array(['G', 'Z', 'T', 'O', 'P', 'A', 'K', 'U', 'H'], dtype=object)

In [20]:
df['admnum'].head()

2027561    5.658267e+10
2171295    9.436200e+10
589494     5.578047e+10
2631158    9.478970e+10
3032257    4.232257e+10
Name: admnum, dtype: float64

In [21]:
df.shape

(1000, 28)

In [22]:
df[df['i94cit'] ==213.0]

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
2509117,5070551.0,2016.0,4.0,213.0,213.0,LOS,2016-04-27,1.0,CA,2016-08-10,...,NaN,M,1952.0,10262016,M,NaN,QR,9.469486e+10,00739,B2
1451442,2929149.0,2016.0,4.0,213.0,213.0,LVG,2016-04-16,1.0,NC,2016-06-29,...,NaN,M,1955.0,10152016,M,NaN,LH,9.372298e+10,00428,B2
897673,1840249.0,2016.0,4.0,213.0,213.0,SEA,2016-04-10,1.0,WA,2016-05-15,...,NaN,M,1948.0,10092016,F,NaN,EK,9.317896e+10,00227,B2
2614678,5270355.0,2016.0,4.0,213.0,213.0,DAL,2016-04-28,1.0,TX,2016-05-31,...,NaN,M,1974.0,10272016,F,NaN,AA,9.476947e+10,00071,B2
1748489,3529728.0,2016.0,4.0,213.0,213.0,SEA,2016-04-19,1.0,WA,2016-06-18,...,NaN,M,1955.0,10182016,M,NaN,EK,9.395091e+10,00227,B2
3057502,688605.0,2016.0,4.0,213.0,213.0,EPI,2016-04-04,3.0,WA,2016-04-05,...,NaN,M,1976.0,10032016,M,NaN,NaN,9.276435e+10,LAND,B1
2733233,5492918.0,2016.0,4.0,213.0,213.0,PHI,2016-04-29,1.0,PA,2016-05-02,...,NaN,M,1999.0,10282016,M,NaN,LH,9.487995e+10,00426,B2
342979,687285.0,2016.0,4.0,213.0,131.0,NEW,2016-04-04,1.0,OH,2016-04-15,...,NaN,M,1974.0,10032016,M,NaN,LH,9.274725e+10,00402,B1
1149853,2353538.0,2016.0,4.0,213.0,213.0,ATL,2016-04-13,1.0,NJ,2016-04-18,...,NaN,M,1998.0,10122016,F,NaN,AI,9.339587e+10,00191,B2
428793,864073.0,2016.0,4.0,213.0,213.0,SFR,2016-04-05,1.0,CA,2016-04-09,...,NaN,M,1969.0,10042016,M,NaN,KL,9.281962e+10,00605,B1
2730160,5488331.0,2016.0,4.0,213.0,213.0,NYC,2016-04-29,1.0,NY,2016-05-15,...,NaN,M,1981.0,10282016,F,NaN,QR,9.487486e+10,00701,B2
3060520,2932211.0,2016.0,4.0,213.0,213.0,WAS,2016-04-16,3.0,NaN,2016-04-17,...,NaN,M,1972.0,05202016,F,NaN,NaN,7.998182e+10,LAND,B2
52130,61611.0,2016.0,4.0,213.0,213.0,NYC,2016-04-01,1.0,TX,2016-04-28,...,NaN,M,1981.0,09302016,NaN,NaN,QR,9.248626e+10,00701,B1
1931245,3886754.0,2016.0,4.0,213.0,213.0,CHI,2016-04-21,1.0,IL,NaT,...,NaN,NaN,1938.0,10202016,M,NaN,AI,9.411107e+10,00127,B2
1931081,3886516.0,2016.0,4.0,213.0,213.0,HOU,2016-04-21,1.0,TX,2016-06-14,...,NaN,M,1960.0,10202016,M,NaN,QR,9.416133e+10,00713,B2
692967,1400880.0,2016.0,4.0,213.0,213.0,NEW,2016-04-08,1.0,NJ,NaT,...,NaN,NaN,2014.0,D/S,M,NaN,AI,7.258104e+08,191,F2
798239,1624057.0,2016.0,4.0,213.0,213.0,CHI,2016-04-09,1.0,CA,NaT,...,NaN,NaN,1952.0,10082016,F,NaN,EK,9.313889e+10,00235,B2
154495,284782.0,2016.0,4.0,213.0,213.0,MIA,2016-04-02,1.0,FL,2016-06-25,...,NaN,M,1957.0,10012016,F,NaN,QR,9.258788e+10,00777,B2
1071301,2195092.0,2016.0,4.0,213.0,213.0,NYC,2016-04-12,1.0,NY,2016-05-13,...,NaN,M,1957.0,10122016,F,NaN,EK,9.337058e+10,00207,B2
693089,1401034.0,2016.0,4.0,213.0,213.0,NYC,2016-04-08,1.0,NY,NaT,...,NaN,NaN,1986.0,10072016,NaN,NaN,QR,9.304222e+10,00701,B2
1557963,3155905.0,2016.0,4.0,213.0,213.0,LOS,2016-04-17,1.0,UT,2016-04-29,...,NaN,M,1976.0,10162016,M,NaN,EK,9.382434e+10,00215,B1
1748832,3530227.0,2016.0,4.0,213.0,213.0,NYC,2016-04-19,1.0,NY,2016-05-05,...,NaN,M,1957.0,10182016,M,NaN,EK,9.394673e+10,00203,B2
2140433,4317940.0,2016.0,4.0,213.0,296.0,ORL,2016-04-23,1.0,FL,2016-04-30,...,NaN,M,1956.0,10222016,M,NaN,EK,9.433348e+10,00219,B2
248380,494733.0,2016.0,4.0,213.0,213.0,SFR,2016-04-03,1.0,CA,2016-05-15,...,NaN,M,1984.0,D/S,F,NaN,VS,6.765221e+08,41,F1
1557723,3155478.0,2016.0,4.0,213.0,213.0,WAS,2016-04-17,1.0,DC,2016-04-30,...,NaN,M,2007.0,10162016,F,NaN,KL,9.381871e+10,00651,B2
427847,862818.0,2016.0,4.0,213.0,117.0,PHI,2016-04-05,1.0,IN,2016-05-08,...,NaN,M,1964.0,10042016,F,NaN,AA,9.282081e+10,00719,B2
1932578,3888676.0,2016.0,4.0,213.0,213.0,LOS,2016-04-21,1.0,CA,2016-05-08,...,NaN,M,1983.0,10202016,M,NaN,EK,9.416030e+10,00215,B2
2510445,5072687.0,2016.0,4.0,213.0,213.0,HOU,2016-04-27,1.0,TX,2016-04-28,...,NaN,M,1985.0,10262016,M,NaN,QR,9.468906e+10,00713,B2
1832817,3697368.0,2016.0,4.0,213.0,213.0,NYC,2016-04-20,1.0,NC,2016-07-20,...,NaN,M,1958.0,10192016,NaN,NaN,EK,9.404810e+10,00201,B2
2417703,4899947.0,2016.0,4.0,213.0,213.0,LOS,2016-04-26,1.0,VA,2016-08-11,...,NaN,M,1955.0,10252016,F,NaN,EY,9.455321e+10,00131,B2
2508566,5069811.0,2016.0,4.0,213.0,213.0,BOS,2016-04-27,1.0,MA,NaT,...,NaN,NaN,1946.0,10262016,F,NaN,QR,9.467578e+10,00743,B2
1450997,2928372.0,2016.0,4.0,213.0,213.0,PHO,2016-04-16,1.0,NY,2016-04-21,...,NaN,M,1957.0,10152016,F,NaN,AI,9.367704e+10,00101,B1
2614996,5270782.0,2016.0,4.0,213.0,213.0,NYC,2016-04-28,1.0,OR,2016-06-06,...,NaN,M,1950.0,10272016,M,NaN,EK,9.476846e+10,00201,B2
1662826,3360046.0,2016.0,4.0,213.0,213.0,NYC,2016-04-18,1.0,CT,NaT,...,NaN,NaN,1950.0,10172016,F,NaN,AI,9.386206e+10,00101,B2
2851748,5735642.0,2016.0,4.0,213.0,213.0,CHI,2016-04-30,1.0,GA,2016-06-08,...,NaN,M,1952.0,10292016,M,NaN,QR,9.499022e+10,00725,B2
2848958,5731122.0,2016.0,4.0,213.0,213.0,NYC,2016-04-30,1.0,MD,2016-05-27,...,NaN,M,2003.0,10292016,NaN,NaN,KU,9.501650e+10,00101,B2
511900,1032729.0,2016.0,4.0,213.0,213.0,PHI,2016-04-06,1.0,NJ,NaT,...,NaN,NaN,1946.0,10052016,M,NaN,BA,9.291274e+10,00069,B2

In [23]:
df.isnull().sum(axis=0)

cicid          0
i94yr          0
i94mon         0
i94cit         0
i94res         0
i94port        0
arrdate        0
i94mode        0
i94addr       59
depdate       49
i94bir         0
i94visa        0
count          0
dtadfile       0
visapost     618
occup        996
entdepa        0
entdepd       46
entdepu     1000
matflag       46
biryear        0
dtaddto        0
gender       141
insnum       965
airline       33
admnum         0
fltno          8
visatype       0
dtype: int64

In [24]:
us_cities = pd.read_csv('us-cities-demographics.csv', sep=';')

In [25]:
us_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [26]:
len(us_cities.columns)

12

In [27]:
us_cities.Race.unique()

array(['Hispanic or Latino', 'White', 'Asian', 'Black or African-American',
       'American Indian and Alaska Native'], dtype=object)

In [60]:
airports = pd.read_csv('airport-codes_csv.csv')

In [29]:
airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [61]:
ports_df = pd.read_csv('port_immigration.csv')

In [62]:
ports_df.city = ports_df.city.str.lower()

In [63]:
airports.municipality = airports.municipality.str.lower()

In [64]:
airports_city = ports_df.merge(airports, left_on='city', right_on='municipality')[['ident', 'code', 'city', 'state_code', 'type', 'name',\
                                                                   'elevation_ft', 'gps_code', 'iata_code', 'local_code', 'coordinates']]

In [65]:
airports_city.rename(columns={'code': 'city_code', 'ident': 'airport_id'}, inplace=True)

In [66]:
airports_city = pd.concat([airports_city, airports_city.coordinates.str.split(',', expand=True).rename(columns={0: 'longitude', 1:'latitude'})],\
         axis=1).drop('coordinates', axis=1)

In [67]:
airports_city.head()

,airport_id,city_code,city,state_code,type,name,elevation_ft,gps_code,iata_code,local_code,longitude,latitude
0,2OK,ANC,anchorage,AK,heliport,Alaska Regional Hospital Heliport,137.0,2OK,NaN,2OK,-149.82699584960938,61.21189880371094
1,3C3,ANC,anchorage,AK,seaplane_base,Campbell Lake Seaplane Base,20.0,NaN,NaN,3C3,-149.942003,61.133099
2,6AK5,ANC,anchorage,AK,small_airport,Fire Island Airport,55.0,6AK5,NaN,6AK5,-150.16099548339844,61.16830062866211
3,99AA,ANC,anchorage,AK,heliport,Aviator Hotel Anchorage Heliport,123.0,99AA,NaN,99AA,-149.886482,61.218906
4,9AK5,ANC,anchorage,AK,small_airport,Sky Harbor Airport,340.0,9AK5,NaN,9AK5,-149.81900024414062,61.11650085449219

In [30]:
us_cities

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
5,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343
6,Avondale,Arizona,29.1,38712.0,41971.0,80683,4815.0,8355.0,3.18,AZ,Black or African-American,11592
7,West Covina,California,39.8,51629.0,56860.0,108489,3800.0,37038.0,3.56,CA,Asian,32716
8,O'Fallon,Missouri,36.0,41762.0,43270.0,85032,5783.0,3269.0,2.77,MO,Hispanic or Latino,2583
9,High Point,North Carolina,35.5,51751.0,58077.0,109828,5204.0,16315.0,2.65,NC,Asian,11060
10,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,Hispanic or Latino,5822
11,Folsom,California,40.9,41051.0,35317.0,76368,4187.0,13234.0,2.62,CA,American Indian and Alaska Native,998
12,Philadelphia,Pennsylvania,34.1,741270.0,826172.0,1567442,61995.0,205339.0,2.61,PA,Asian,122721
13,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,Hispanic or Latino,65162
14,Wichita,Kansas,34.6,192354.0,197601.0,389955,23978.0,40270.0,2.56,KS,American Indian and Alaska Native,8791
15,Fort Myers,Florida,37.3,36850.0,37165.0,74015,4312.0,15365.0,2.45,FL,White,50169
16,Pittsburgh,Pennsylvania,32.9,149690.0,154695.0,304385,17728.0,28187.0,2.13,PA,White,208863
17,Laredo,Texas,28.8,124305.0,131484.0,255789,4921.0,68427.0,3.66,TX,American Indian and Alaska Native,1253
18,Berkeley,California,32.5,60142.0,60829.0,120971,3736.0,25000.0,2.35,CA,Asian,27089
19,Santa Clara,California,35.2,63278.0,62938.0,126216,4426.0,52281.0,2.75,CA,White,55847
20,Allen,Pennsylvania,33.5,60626.0,59581.0,120207,5691.0,19652.0,2.67,PA,Black or African-American,22304
21,Hampton,Virginia,35.5,66214.0,70240.0,136454,19638.0,6204.0,2.48,VA,Black or African-American,70303
22,Bolingbrook,Illinois,33.7,36295.0,35801.0,72096,2951.0,15212.0,3.42,IL,American Indian and Alaska Native,323
23,Frederick,Maryland,36.1,33146.0,36336.0,69482,3870.0,14211.0,2.48,MD,White,49181
24,Sparks,Nevada,36.1,47780.0,48318.0,96098,7315.0,15690.0,2.63,NV,Hispanic or Latino,29159
25,Rancho Cordova,California,33.8,34844.0,36182.0,71026,4590.0,17020.0,2.86,CA,Asian,12653
26,Westminster,Colorado,37.8,54866.0,58251.0,113117,6512.0,11361.0,2.63,CO,Hispanic or Latino,23355
27,Lakewood,Colorado,37.7,76013.0,76576.0,152589,9988.0,14169.0,2.29,CO,Hispanic or Latino,33630
28,Flint,Michigan,35.3,48984.0,49313.0,98297,3757.0,2138.0,2.38,MI,White,44786
29,New Haven,Connecticut,29.9,63765.0,66545.0,130310,2567.0,25871.0,2.48,CT,American Indian and Alaska Native,2205
...,...,...,...,...,...,...,...,...,...,...,...,...
2861,Scranton,Pennsylvania,38.5,37975.0,39137.0,77112,5059.0,8069.0,2.39,PA,Asian,4722
2862,Aurora,Colorado,34.2,177899.0,180971.0,358870,25158.0,65816.0,2.82,CO,Asian,24673
2863,Redlands,California,36.2,33993.0,37035.0,71028,3445.0,8681.0,2.82,CA,Hispanic or Latino,19698
2864,Alhambra,California,41.0,42184.0,43388.0,85572,1673.0,44441.0,2.89,CA,Hispanic or Latino,31386
2865,Alhambra,California,41.0,42184.0,43388.0,85572,1673.0,44441.0,2.89,CA,Black or African-American,1905
2866,Rio Rancho,New Mexico,38.3,47251.0,46904.0,94155,8527.0,5200.0,2.86,NM,Black or African-American,3970
2867,Wyoming,Michigan,32.8,35967.0,39310.0,75277,3447.0,8612.0,2.65,MI,American Indian and Alaska Native,2444
2868,Reading,Pennsylvania,29.4,43668.0,44205.0,87873,2580.0,17043.0,2.95,PA,Asian,903
2869,Rialto,California,31.6,49902.0,53235.0,103137,2036.0,32741.0,3.83,CA,American Indian and Alaska Native,1065
2870,Tallahassee,Florida,26.2,89390.0,100504.0,189894,9575.0,16720.0,2.38,FL,Asian,10035
2871,Hemet,California,36.8,38622.0,45251.0,83873,5613.0,13330.0,2.97,CA,Asian,3697
2872,Aurora,Illinois,31.7,101964.0,101751.0,203715,4988.0,50980.0,3.30,IL,Black or African-American,23736
2873,Carmel,Indiana,39.9,42928.0,46101.0,89029,2723.0,9645.0,2.71,IN,White,77178
2874,Glendale,California,42.1,98181.0,102844.0,201025,4448.0,111510.0,2.69,CA,Hispanic or Latino,30807
2875,Des Moines,Iowa,34.5,103726.0,106591.0,210317,11780.0,23857.0,2.41,IA,White,168057
2876,College Station,Texas,22.9,54125.0,53774.0,107899,2471.0,16145.0,2.52,TX,White,84892
2877,Peoria,Arizona,36.9,80139.0,91103.0,171242,13019.0,14260.0,2.97,AZ,Asian,6631
2878,Charlotte,North Carolina,34.3,396646.0,430475.0,827121,36046.0,128897.0,2.52,NC,American Indian and Alaska Native,8746
2879,Lafayette,Indiana,33.5,34313.0,36857.0,71170,5045.0,5697.0,2.19,IN,Hispanic or Latino,9151
2880,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,Black or African-American,14449
2881,Gulfport,Mississippi,35.1,33108.0,38764.0,71872,6646.0,3072.0,2.54,MS,White,42870
2882,Davis,California,26.3,33493.0,34163.0,67656,2176.0,13997.0,2.69,CA,American Indian and Alaska Native,779
2883,Los Angeles,California,35.0,1958998.0,2012898.0,3971896,85417.0,1485425.0,2.86,CA,Black or African-American,404868
2884,Mount Vernon,New York,38.5,31876.0,36745.0,68621,2064.0,23777.0,2.85,NY,Hispanic or Latino,9446
2885,Lynchburg,Virginia,28.7,38614.0,41198.0,79812,4322.0,4364.0,2.48,VA,White,53727
2886,Stockton,California,32.5,150976.0,154674.0,305650,12822.0,79583.0,3.16,CA,American Indian and Alaska Native,19834
2887,Southfield,Michigan,41.6,31369.0,41808.0,73177,4035.0,4011.0,2.27,MI,American Indian and Alaska Native,983
2888,Indianapolis,Indiana,34.1,410615.0,437808.0,848423,42186.0,72456.0,2.53,IN,White,553665
2889,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,American Indian and Alaska Native,374
2890,Coral Springs,Florida,37.2,63316.0,66186.0,129502,4724.0,38552.0,3.17,FL,White,90896

In [31]:
us_cities[us_cities['State Code']=='TX']['City'].unique()

array(['Laredo', 'Flower Mound', 'Corpus Christi', 'Bryan', 'Killeen',
       'El Paso', 'Richardson', 'Waco', 'Garland', 'Wichita Falls',
       'Amarillo', 'Fort Worth', 'Beaumont', 'Grand Prairie', 'Mesquite',
       'Edinburg', 'Victoria', 'Abilene', 'Houston', 'New Braunfels',
       'McKinney', 'Mission', 'McAllen', 'Harlingen', 'Missouri City',
       'Temple', 'Atascocita', 'Frisco', 'College Station', 'Lewisville',
       'Dallas', 'Austin', 'Odessa', 'Round Rock', 'Denton', 'Pearland',
       'Carrollton', 'Cedar Park', 'San Angelo', 'North Richland Hills',
       'Brownsville', 'Tyler', 'San Antonio', 'Plano', 'Midland',
       'The Woodlands', 'Longview', 'Lubbock', 'Conroe', 'Allen',
       'Pasadena', 'Arlington', 'Irving', 'Bay', 'Sugar Land', 'Pharr',
       'League City'], dtype=object)

In [32]:
np.sum(us_cities.City.str.contains('County'))

15

In [33]:
us_cities[us_cities.City.str.contains('County') | us_cities.City.str.contains('county')]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
73,Lexington-Fayette county,Kentucky,34.4,154032.0,160456.0,314488,16661.0,28613.0,2.34,KY,American Indian and Alaska Native,3187
379,Lexington-Fayette county,Kentucky,34.4,154032.0,160456.0,314488,16661.0,28613.0,2.34,KY,Hispanic or Latino,21766
588,Louisville/Jefferson County metro government,Kentucky,37.5,298451.0,316938.0,615389,39364.0,37875.0,2.45,KY,White,456451
627,Louisville/Jefferson County metro government,Kentucky,37.5,298451.0,316938.0,615389,39364.0,37875.0,2.45,KY,Black or African-American,151256
671,Lexington-Fayette county,Kentucky,34.4,154032.0,160456.0,314488,16661.0,28613.0,2.34,KY,Asian,14066
1078,Athens-Clarke County unified government,Georgia,26.5,57415.0,65148.0,122563,3953.0,12868.0,2.44,GA,Hispanic or Latino,13159
1194,Augusta-Richmond County consolidated government,Georgia,33.7,94662.0,101917.0,196579,19085.0,7915.0,2.67,GA,American Indian and Alaska Native,1667
1249,Lexington-Fayette county,Kentucky,34.4,154032.0,160456.0,314488,16661.0,28613.0,2.34,KY,White,249339
1278,Augusta-Richmond County consolidated government,Georgia,33.7,94662.0,101917.0,196579,19085.0,7915.0,2.67,GA,White,77940
1598,Athens-Clarke County unified government,Georgia,26.5,57415.0,65148.0,122563,3953.0,12868.0,2.44,GA,White,79931
1647,Augusta-Richmond County consolidated government,Georgia,33.7,94662.0,101917.0,196579,19085.0,7915.0,2.67,GA,Hispanic or Latino,9068
2042,Athens-Clarke County unified government,Georgia,26.5,57415.0,65148.0,122563,3953.0,12868.0,2.44,GA,American Indian and Alaska Native,593
2097,Lexington-Fayette county,Kentucky,34.4,154032.0,160456.0,314488,16661.0,28613.0,2.34,KY,Black or African-American,51493
2176,Augusta-Richmond County consolidated government,Georgia,33.7,94662.0,101917.0,196579,19085.0,7915.0,2.67,GA,Asian,4429
2327,Augusta-Richmond County consolidated government,Georgia,33.7,94662.0,101917.0,196579,19085.0,7915.0,2.67,GA,Black or African-American,112271
2466,Louisville/Jefferson County metro government,Kentucky,37.5,298451.0,316938.0,615389,39364.0,37875.0,2.45,KY,American Indian and Alaska Native,4585
2518,Athens-Clarke County unified government,Georgia,26.5,57415.0,65148.0,122563,3953.0,12868.0,2.44,GA,Black or African-American,34583
2547,Athens-Clarke County unified government,Georgia,26.5,57415.0,65148.0,122563,3953.0,12868.0,2.44,GA,Asian,6635
2665,Louisville/Jefferson County metro government,Kentucky,37.5,298451.0,316938.0,615389,39364.0,37875.0,2.45,KY,Asian,18601
2812,Louisville/Jefferson County metro government,Kentucky,37.5,298451.0,316938.0,615389,39364.0,37875.0,2.45,KY,Hispanic or Latino,28712

In [34]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df = pd.read_csv(fname)

In [35]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

In [36]:
us_temperatures = df[df.Country=='United States']

In [37]:
us_temperatures.dt = pd.to_datetime(us_temperatures.dt)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [38]:
us_temperatures.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687289 entries, 47555 to 8439246
Data columns (total 7 columns):
dt                               687289 non-null datetime64[ns]
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             687289 non-null object
Country                          687289 non-null object
Latitude                         687289 non-null object
Longitude                        687289 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 41.9+ MB

In [39]:
us_temperatures.sort_values(by='dt', ascending=False)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
8439246,2013-09-01,17.408,1.048,Yonkers,United States,40.99N,74.56W
7666413,2013-09-01,18.450,1.057,Toledo,United States,40.99N,83.08W
2645560,2013-09-01,27.986,1.334,Grand Prairie,United States,32.95N,96.70W
6583163,2013-09-01,21.348,0.908,Salinas,United States,36.17N,121.33W
4786153,2013-09-01,27.681,1.245,Metairie,United States,29.74N,90.46W
1356347,2013-09-01,27.786,1.206,Cape Coral,United States,26.52N,82.39W
6318079,2013-09-01,19.211,0.874,Reno,United States,39.38N,120.69W
3828652,2013-09-01,27.363,0.979,Killeen,United States,31.35N,98.01W
1982817,2013-09-01,17.503,1.130,Detroit,United States,42.59N,82.91W
2375136,2013-09-01,19.016,1.093,Fort Wayne,United States,40.99N,85.21W
2077880,2013-09-01,23.301,0.984,Downey,United States,34.56N,118.70W
1058984,2013-09-01,15.883,1.368,Boston,United States,42.59N,72.00W
3018154,2013-09-01,27.942,0.858,Houston,United States,29.74N,96.00W
7145423,2013-09-01,22.002,1.082,Springfield,United States,39.38N,89.48W
336883,2013-09-01,20.471,0.826,Antioch,United States,37.78N,122.03W
4779847,2013-09-01,27.986,1.334,Mesquite,United States,32.95N,96.70W
2991396,2013-09-01,27.652,1.087,Hollywood,United States,26.52N,80.60W
2404849,2013-09-01,24.186,0.797,Fresno,United States,36.17N,119.34W
7148662,2013-09-01,15.883,1.368,Springfield,United States,42.59N,72.00W
3634014,2013-09-01,22.678,1.136,Kansas City,United States,39.38N,93.64W
3078053,2013-09-01,21.391,1.062,Huntington Beach,United States,32.95N,117.77W
5739859,2013-09-01,17.408,1.048,Paterson,United States,40.99N,74.56W
2569320,2013-09-01,29.136,0.702,Gilbert,United States,32.95N,112.02W
6552144,2013-09-01,27.842,1.035,Saint Petersburg,United States,28.13N,82.73W
5207211,2013-09-01,17.408,1.048,New York,United States,40.99N,74.56W
485017,2013-09-01,19.373,1.054,Aurora,United States,39.38N,104.05W
7158765,2013-09-01,17.408,1.048,Stamford,United States,40.99N,74.56W
6338332,2013-09-01,25.185,1.117,Rialto,United States,34.56N,116.76W
7596368,2013-09-01,23.301,0.984,Thousand Oaks,United States,34.56N,118.70W
403360,2013-09-01,27.986,1.334,Arlington,United States,32.95N,96.70W
...,...,...,...,...,...,...,...
1692511,1743-11-01,3.209,1.961,Cleveland,United States,40.99N,80.95W
2371898,1743-11-01,2.973,2.150,Fort Wayne,United States,40.99N,85.21W
4836363,1743-11-01,-2.526,2.654,Minneapolis,United States,45.81N,93.46W
7676592,1743-11-01,6.072,1.740,Toms River,United States,39.38N,74.91W
5207212,1743-11-01,3.264,1.665,Newark,United States,40.99N,74.56W
1133627,1743-11-01,5.371,1.578,Bridgeport,United States,40.99N,72.43W
7155527,1743-11-01,3.264,1.665,Stamford,United States,40.99N,74.56W
8436008,1743-11-01,3.264,1.665,Yonkers,United States,40.99N,74.56W
1527634,1743-11-01,11.162,1.924,Chesapeake,United States,36.17N,75.58W
5736621,1743-11-01,3.264,1.665,Paterson,United States,40.99N,74.56W
7302705,1743-11-01,1.584,1.750,Syracuse,United States,42.59N,76.36W
5846209,1743-11-01,6.072,1.740,Philadelphia,United States,39.38N,74.91W
5303499,1743-11-01,11.162,1.924,Norfolk,United States,36.17N,75.58W
4232939,1743-11-01,6.165,2.227,Lexington Fayette,United States,37.78N,85.42W
8151263,1743-11-01,2.208,1.997,Warren,United States,42.59N,82.91W
4760843,1743-11-01,9.451,2.399,Memphis,United States,34.56N,89.51W
3176023,1743-11-01,4.373,2.185,Indianapolis,United States,39.38N,85.32W
6542428,1743-11-01,-2.526,2.654,Saint Paul,United States,45.81N,93.46W
1730202,1743-11-01,10.375,2.313,Columbus,United States,32.95N,85.21W
8068692,1743-11-01,11.162,1.924,Virginia Beach,United States,36.17N,75.58W
5134898,1743-11-01,7.442,2.320,Nashville,United States,36.17N,87.51W
8220803,1743-11-01,2.208,1.997,Windsor,United States,42.59N,82.91W
5508185,1743-11-01,18.722,2.302,Orlando,United States,28.13N,80.91W
1657001,1743-11-01,4.373,2.185,Cincinnati,United States,39.38N,85.32W
6393754,1743-11-01,0.992,2.366,Rockford,United States,42.59N,89.45W
1323661,1743-11-01,1.188,1.531,Cambridge,United States,42.59N,72.00W
7115423,1743-11-01,2.973,2.150,South Bend,United States,40.99N,85.21W
202251,1743-11-01,3.264,1.665,Allentown,United States,40.99N,74.56W
8252252,1743-11-01,1.188,1.531,Worcester,United States,42.59N,72.00W
4369339,1743-11-01,6.165,2.227,Louisville,United States,37.78N,85.42W